#compose-team-player-form {
    width: 60%;
    margin: 0 auto;
    .ant-form-item-control {
        .ant-input-number {
            width: 100%;
        }
    }
}
#add-quarter-form {
    width: 80%;
    margin: 0 auto;
    .form-item-row {
        justify-content: space-between;
        .form-item-col {
            max-width: 40%;
        }
    }
}